# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-selfcheck.json

# IDE
.vscode/
.idea/
*.swp
*.swo

# Операционные системы
.DS_Store
Thumbs.db
desktop.ini

# Данные и логи
*.log
*.sql
*.sqlite
